<div *ngIf="menudiabean">
	<div class="card-header" style="background-color: #61c77d;">
		<h4 class="my-0 font-weight-normal">{{menudiabean.nombreDia}}</h4>
		<h6>{{menudiabean.fechaConsumoStr | date : 'dd/MM/yyyy'}}</h6>
	</div>
	<div class="card-body" style="height: 80px;">{{menudiabean.platoDto.nombrePlato}}</div>
	<div class="card-footer">
		<ul class="nav">
			<li class="nav-item" title="Favorito"><a class="btn btn-outline-warning active" (click)="desmarcarPlatoFavorito(menudiabean.platoDto.id)" *ngIf="menudiabean.platoDto.favorito == true"><fa-icon [icon]="['far', 'star']"></fa-icon></a></li>
			<li class="nav-item" title="Favorito"><a class="btn btn-outline-warning" (click)="marcarPlatoFavorito(menudiabean.platoDto.id)" *ngIf="menudiabean.platoDto.favorito == false"><fa-icon [icon]="['far', 'star']"></fa-icon></a></li>
			<li class="nav-item" title="Buscar Plato"><a class="btn btn-outline-success"><fa-icon [icon]="['fas', 'pen']"></fa-icon></a></li>
			<li class="nav-item" title="Cambiar Plato"><a class="btn btn-outline-success" (click)="cambiarMenuDia(menudiabean.idTipoPlato,menudiabean.fechaConsumoStr)"><fa-icon [icon]="['fas', 'sync-alt']"></fa-icon></a></li>
		</ul>
	</div>
</div>