/* CSS Document */
.ftco-footer {
	font-size: 14px;
	padding: 7em 0;
	color: #000000;
}
.ftco-footer .ftco-footer-logo {
	text-transform: uppercase;
	letter-spacing: .1em;
}
.ftco-footer .ftco-footer-widget h2 {
	font-weight: normal;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 500;
}
.ftco-footer .ftco-footer-widget ul li {
	font-size: 14px;
	margin-bottom: 0px;
}
.ftco-footer .ftco-footer-widget ul li a {
	color: #000000;
}
.ftco-footer .ftco-footer-widget .btn-primary {
	border: 2px solid #fff !important;
}
.ftco-footer .ftco-footer-widget .btn-primary:hover {
	border: 2px solid #fff !important;
}
.icon-twitter:before {
	content: "\f099";
}
.ftco-footer-social li {
	list-style: none;
	margin: 0 10px 0 0;
	display: inline-block;
}
.ftco-footer-social li a {
	height: 50px;
	width: 50px;
	display: block;
	float: left;
	background: rgba(0, 0, 0, 0.02);
	border-radius: 50%;
	position: relative;
}
.ftco-footer-social li a span {
	position: absolute;
	font-size: 26px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #000000;
}
.ftco-footer-social li a:hover {
	color: #000000;
}

@media (min-width: 768px) {
	.float-md-left {
		float: left !important;
	}
	.float-md-right {
		float: right !important;
	}
	.float-md-none {
		float: none !important;
	}
}
.mt-5, .my-5 {
	margin-top: 3rem !important;
}
.block-23 ul {
  padding: 0; 
}
.block-23 ul li, .block-23 ul li > a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
}
.block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top;
}
.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
}
.footer-menufam{
	background-color: #F5F5F5;
}
.principal {
	min-height: 30rem;
	position: relative;
	display: table;
	width: 100%;
	height: auto;
	padding-top: 8rem;
	padding-bottom: 8rem;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/cocina2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.principal h1 {
	font-size: 4rem;
	margin: 0;
	padding: 0;
}

@media (min-width: 992px) {
.principal {
	height: 100vh;
}
.principal h1 {
	font-size: 5.5rem;
}
}

.texto-titulo-principal{
	margin-left: 20px;
}
.texto_boton_contac{
   color: #FFFFFF;
   margin-left: 5px;
   margin-right: 5px;
}
.color_blanco_texto{
	color: #FFFFFF;
}